*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
}

#yellow {
  order: 1;
  
}
#green {
  order: 3;
}

#orange {
  order: 4;
  flex: 1;
}

#red {
    order: 2;
  }

#blue {
    order: 5 ;
  }
