* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 33px;
  grid-template-columns: repeat(4, 1fr);
  width: 200px;
  height: 200px;
  margin: 60px;
  display: center;
}

.operator {
  background-color: #899dae;
}
.calculator {
  position: center;
  width: 260px;
}

.calc {
  width: 100%;
  font-size: 2.5rem;
  border: none;
  background-color: #424c52;
  color: #fff;
  text-align: right;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 10px;
}

button {
  height: 50px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 1.5rem;
  width: 65px;
}
.equal {
  background-color: #bc2333;
  border-color: #c34044;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
  border-bottom-right-radius: 20px;
}
.calculator-button {
  display: grid;
}

.zero {
  border-bottom-left-radius: 20px;
}

